extends layout

block head
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(type="module", src="/javascripts/repelEffect.js" defer)

block content
    h1
        for char in name
            span(class='char')
                if char == ' '
                    | &nbsp;
                else
                    = char